.switch-box {
    position: fixed;
    bottom: 15px;
    right: 120px;
    z-index: 9999;
}

.switch-box .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1.5px solid #ffffff;
    transition: 0.4s;
}

.switch-box .slider::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.4s;
    box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
    background: white url("../images/night.png");
    background-repeat: no-repeat;
    background-position: center;
}

.switch-box .slider.round {
    border-radius: 34px;
}

.switch-box .slider.round::before {
    border-radius: 50%;
}

.switch-box .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch-box .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-box input:checked+.slider {
    background-color: transparent;
    border: 1.5px solid #ff7200;
}

.switch-box input:focus+.slider {
    box-shadow: 0 0 1px #ff7200;
}

.switch-box input:checked+.slider:before {
    transform: translateX(24px);
    background: white url("../images/sunny.png");
    background-repeat: no-repeat;
    background-position: center;
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
    color: #ffffff !important;
}

.theme-dark h3 {
    color: #ffffff !important;
}

.theme-dark h3 a {
    color: #ffffff !important;
    transition: 0.7s;
}

.theme-dark h3 a:hover {
    color: #ff7200 !important;
}

.theme-dark span {
    color: #ffffff !important;
}

.theme-dark p {
    color: #ffffff !important;
}

.theme-dark body {
    background: #1d1d1d;
    color: #ffffff;
}

.theme-dark .color-white {
    color: #000000 !important;
}

.theme-dark .bg-off-white {
    background-color: #252525;
}

.theme-dark .background-shapes {
    opacity: 0.1;
}

.theme-dark .bg-maincolor-light {
    background-color: #252525;
}

.theme-dark .bg-white {
    background-color: #252525;
    --bs-bg-opacity: unset !important;
}

.theme-dark .form-group label {
    color: #ffffff;
}

.theme-dark .form-control {
    background-color: #0e0e0e !important;
    color: #ffffff !important;
}

.theme-dark .input-group {
    background-color: #0e0e0e !important;
}

.theme-dark .nice-select {
    background-color: #0e0e0e;
}

.theme-dark .list {
    background-color: #0e0e0e;
}

.theme-dark .list .option {
    color: #ffffff !important;
}

.theme-dark .option.selected {
    color: #ffffff;
    background-color: #ff7200;
}

.theme-dark .option:hover {
    color: #ffffff;
    background-color: #ff7200;
}

.theme-dark .option.focus {
    color: #ffffff;
    background-color: #ff7200;
}

.theme-dark .option.selected.focus {
    color: #ffffff;
    background-color: #ff7200;
}

.theme-dark ul li {
    color: #ffffff !important;
}

.theme-dark .navbar-light .navbar-brand .logo1 {
    display: none;
}

.theme-dark .navbar-light .navbar-brand .logo2 {
    display: inline-block;
}

.theme-dark .navbar-area {
    background-color: #252525;
}

.theme-dark .navbar-area .main-nav {
    background-color: #252525;
}

.theme-dark .navbar-area .main-nav nav .navbar-nav .nav-item a {
    color: #ffffff !important;
}

.theme-dark .navbar-area .main-nav nav .navbar-nav .nav-item a.active {
    color: #ff7200 !important;
}

.theme-dark .navbar-area .main-nav nav .navbar-nav .nav-item a:hover {
    color: #ff7200 !important;
}

.theme-dark .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu {
    background-color: #252525 !important;
}

.theme-dark .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
    color: #ffffff !important;
}

.theme-dark .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #ff7200 !important;
}

.theme-dark .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #ff7200 !important;
}

.theme-dark .navbar-area.is-sticky {
    background-color: #252525;
}

.theme-dark .main-nav-2.is-sticky .language-option {
    color: #ffffff;
}

.theme-dark .main-nav-3 {
    background-color: transparent !important;
}

.theme-dark .main-nav-3 .language-option {
    color: #fff;
}

.theme-dark .main-nav-3.is-sticky {
    background-color: #252525 !important;
}

.theme-dark .main-nav-3.is-sticky .language-option {
    color: #ffffff;
}

.theme-dark .main-nav-3.is-sticky .navbar-brand-3 img:nth-child(1) {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.theme-dark .main-nav-3.is-sticky .navbar-brand-3 img:nth-child(2) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.theme-dark .mobile-nav .logo1 {
    display: none;
}

.theme-dark .mobile-nav .logo2 {
    display: inline-block;
}

.theme-dark .mean-container a.meanmenu-reveal {
    color: #ffffff !important;
}

.theme-dark .mean-container a.meanmenu-reveal span {
    background-color: #ffffff !important;
}

.theme-dark .mean-container .mean-bar {
    background-color: #252525;
}

.theme-dark .mean-container .navbar-nav {
    background-color: #1d1d1d;
}

.theme-dark .mean-container .mean-nav .navbar-nav .nav-item a {
    color: #ffffff;
}

.theme-dark .mean-container .mean-nav .navbar-nav .nav-item a.active {
    color: #ff7200 !important;
}

.theme-dark .mean-container .mean-nav .navbar-nav .nav-item a:hover {
    color: #ff7200 !important;
}

.theme-dark .mean-container .mean-nav .navbar-nav .nav-item .dropdown-menu {
    background-color: #1d1d1d;
}

.theme-dark .navbar-option-item {
    color: #ffffff;
}

.theme-dark .navbar-option-item a {
    color: #ffffff;
}

.theme-dark .navbar-option-item .dropdown-menu {
    background-color: #1d1d1d;
}

.theme-dark .language-option {
    color: #ffffff;
}

.theme-dark .home-about-list-item {
    color: #ffffff;
}

.theme-dark .header-bg-2 {
    background-color: #1d1d1d;
}

.theme-dark .header-shape-2-item img {
    opacity: 0.1;
}

.theme-dark .home-download-section-2 {
    background-image: none;
    background-color: #252525;
}

.theme-dark .header-bg-3 {
    background-color: #1f1f1f;
}

.theme-dark .home-feature-box-3 {
    background-color: #0e0e0e;
}

.theme-dark .counter-content-box {
    background-color: #0e0e0e;
}

.theme-dark .page-bg::before {
    background-color: #0e0e0e;
    opacity: 0.8;
}

.theme-dark .about-image-ellipsis .home-image-content::before,
.theme-dark .about-image-shape .home-image-content::before,
.theme-dark .about-image-rectangle .home-image-content::before {
    opacity: 0.1;
}

.theme-dark .home-service-section {
    background-image: none;
    background-color: #252525;
}

.theme-dark .home-service-details-2 {
    background-color: #0e0e0e;
}

.theme-dark .home-service-details {
    background-color: #0e0e0e;
}

.theme-dark .support-bank-info {
    background-color: #252525;
}

.theme-dark .feature-carousel-content {
    background-color: #0e0e0e;
}

.theme-dark .home-logo-item a img {
    opacity: 1;
}

.theme-dark .carousel-control-item span i::before {
    background: #1d1d1d !important;
}

.theme-dark .home-download-section {
    background-color: #0e0e0e;
}

.theme-dark .footer-bg {
    background-color: #000000;
}

.theme-dark .retail-section-bg {
    background-color: #252525;
    background-image: none;
}

.theme-dark .contact-comment-leave-area {
    background-color: #252525;
}

.theme-dark .box-card-para .link-us {
    color: #ffffff;
}

.theme-dark .input-area {
    background-color: #0e0e0e;
}

.theme-dark input {
    background-color: #0e0e0e;
}

.theme-dark .blog-details-tag {
    background-color: #252525;
}

.theme-dark .blog-comment-leave-area {
    background-color: #252525;
}

.theme-dark .terms-privacy-list li p strong {
    color: #ffffff;
}

.theme-dark .authentication-section {
    background-color: #252525;
}

.theme-dark .authentication-user-header .logo1 {
    display: none;
}

.theme-dark .authentication-user-header .logo2 {
    display: inline-block;
}

.theme-dark .authentication-tab-item {
    color: #ffffff;
}

.theme-dark .authentication-divider span {
    background: #252525;
}

/*# sourceMappingURL=theme-dark.css.map */